    <footer>
        
   <div id="map">
            <iframe width="100%" height="800px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-74.72088217735292%2C40.209540285179024%2C-74.71266388893129%2C40.21447258618487&amp;layer=mapnik&amp;marker=40.21200648055251%2C-74.71677303314209" style="border: 1px solid black"></iframe>
    </div> 
    
   <div class="footer">
       <p class="footer-p">CopyRight SGGROUP Corp</p>
       <p class="footer-p">Jerseyconstruction@gmail.com - (609)384-4736-NJ - (609)-358-9269-PA</p>
       <p class="footer-p"> Patterson Avenue , Hamilton Township NEW JERSEY USA 2019</p>
       <p class="footer-p">This Company is fully Certified and insured and comply and work with all of the industry requirements</p>
       <p class="footer-p">ALL RIGHTS RESERVED ; BY BROWSING AND STAYING IN THIS WEBSITE YOU AGREE TO OUR PRIVACY POLICY & TERMS OF USE</p>
       <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>



<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
   </div>

    </body>
   </html>