<% include partials/header %>
<section class="slideshow">
        <div id="slideshow">
                <div>
                    <div class='image-p-info'>
                            <p class="image-p">General Contractor</p>
                            <p class="image-p2">Best Prices</p>
                    </div>
                   
                  <img src="/images/siding-plywood.jpg">
                </div>
                <div>
                        <div class='image-p-info'>
                                <p class="image-p">Exterior Renovation</p>
                                <p class="image-p2">Quality & honesty</p>
                        </div>
                  <img src="/images/hero-blue.jpg" style="object-fit: cover;">
                </div>
                <div>
                        <div class='image-p-info'>
                                <p class="image-p">House renovation</p>
                                <p class="image-p2">Fully licensed & insured</p>
                        </div>
                        <img src="/images/hardie-plank-stone.jpg" style="object-fit: cover;">
                </div>
             </div>
</section>
      <section id="welcome-section">
          <div class="titulo-info">
                <h1 class="titulo">WELCOME TO JERSEY CONSTRUCTION</h1>
                <p class="titulo-p">Jersey Construction Company LLC we are  a 100% employee owned and commercial general services contractor servicing the greater Tri-state area (New jersey , PA , and depend on the project Delaware or NY). we specialize in planning and building beautifully house exterior and interiors  renovations and work hand with hand with the largest and most qualified manufacturers in the area , enforcing quality and honest above all to satisfy our client's expectations  
                        
                </p>
                <a class="button is-large is-outlined is-warning" id="button" href="/contact">Learn more</a>
               
          </div>
          
      </section>
<section class="diferencias">
        <div class="columns">
                <div class="column is-half column1">
                  <div class="container">
                          <div class="container-info" style="width:80%;">
                                        <h2 class="about-heading">ABOUT OUR COMPANY</h2>
                                        <p class="about-heading-p">We are a family-owned business with more than 25 years in the field and proudly been growing since! we are fully certied and acredited by the BBB , GAF, Certainteed , and various others manufacturers, we do residential and commercial exterior and interior work , we do especialize in siding and roofing but we are a all in-one company to our client's need! Feel free to call us with any inquiry you may have!</p>
                                        <h3 class="about-heading-h3">WHAT YOU'LL BENEFIT FROM US?</h3>
                                        <div class="about-ul">
                                                <ul>    
                                                        <li>BEST PRICES IN THE MARKET</li>
                                                        <li>Quality and honest work</li>
                                                        <li>Fast and warranty insured services</li>
                                                        <li>Offers and discounts</li>
                                                        <li>Directly Owner assistance</li>
                                                        
                                                </ul>
                                        </div>

                                        
                          </div>
                         

                  </div>
                </div>
               
                <div class="column is-half column2">
                    <form  action="/contact-form"method="POST">
                        <div class="container" style="width:80%">
                        <div class="field">
                                <label class="label">Name</label>
                                <div class="control">
                                  <input class="input" type="text" placeholder="Text input" name="name">
                                </div>
                              </div>
                              
                              <div class="field">
                                <label class="label">Phone number</label>
                                <div class="control has-icons-left has-icons-right">
                                  <input class="input is-success" type="number" placeholder="Your Phone" value="" name="number">
                                  <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                  </span>
                                  <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                  </span>
                                </div>
                                <p class="help is-success">Please enter  a valid phone number</p>
                              </div>
                              
                              <div class="field">
                                <label class="label">Email</label>
                                <div class="control has-icons-left has-icons-right">
                                  <input class="input is-danger" type="email" placeholder="Email input" value="hello@" name="email">
                                  <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                  </span>
                                  <span class="icon is-small is-right">
                                    <i class="fas fa-exclamation-triangle"></i>
                                  </span>
                                </div>
                                <p class="help is-danger">This email is invalid</p>
                              </div>
                              
                              <div class="field">
                                <label class="label">Subject</label>
                                <div class="control">
                                  <div class="select">
                                    <select>
                                      <option>Siding</option>
                                      <option>Roofing</option>
                                      <option>Gutters</option>
                                      <option>Masonry</option>
                                      <option>Other</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="field">
                                <label class="label">Message</label>
                                <div class="control">
                                  <textarea class="textarea" placeholder="Textarea"name="message"></textarea>
                                </div>
                        </div>
                        <div class="field is-grouped">
                                <div class="control">
                                  <button class="button is-primary">Submit</button>
                                </div>
                              </div>
                </div>
                </form>
                </div>
              </div>
            
</section>
<section>
 <div class="main-services">
         <h2 class="service-heading">Main Services</h2>
         <div class="columns">
           <div class="column is-one-third">
              <h3 class="roofing-title">Siding</h3>
              <div class="media-roofing">
                        <figure class="image ">
                          <img class="is-rounded" style="width:60%; height:60%; margin:0 auto;" src="images/viniyl-siding-blue.jpg" alt="blue vinyl siding house">
                      </figure>
                      <p class="services-p">Our most demanded service! Here at jersey construction we do really love building complete home exterior with siding , siding is one of the most easy and relative low cost material to install in anyhouse, building , ranch and more , they come in many shapes , colors and material! and fortunately we do them all! and the best competitive prices and a quality really dificult to get anywhere else! <a class='linkertag'href="/services">Learn More</a></p>
              </div>
           </div>
           <div class="column is-one-third">
            <h3 class="roofing-title">Roofing</h3>
            <div class="media-roofing">
                       <!-- <figure class="image">
                          <img class="is-rounded" style="width:60%; height:60%; margin:0 auto;" src="images/roofing-first-floor.jpg" alt="roofing building">
                      </figure>-->
                      <figure class="image ">
                        <img class="is-rounded" style="width:60%; height:60%; margin:0 auto;" src="images/roofing-index1.jpg" alt="blue vinyl siding house">
                    </figure>
                      <p class="services-p">Roofing! When it comes to roofing  we take it seriusly , enforcing all the precautions and guidelines there is no mistake or error , all our roofing project's are fully certified and insured , we do specialize in Asphalt shingles, metal roofing, stone-coated steel. slate, rubber slate.. and more! we also do flat roofing and feel free to contact us with any question or inquiry you may have!<a class='linkertag' href="/services">Learn More</a></p>
              </div>
          </div>
         <div class="column is-one-third">
           <h3 class="roofing-title">Carpentry</h3>
           <div class="media-carpentry">
                        <figure class="image">
                          <img class="is-rounded" style="width:60%; height:60%; margin:0 auto;" src="images/carpentry.jpg" alt="window capping">
                      </figure>
                      <p class="services-p">Carpentry! We love creating! we do complete new projects/houses , additions , restructuring and more!Strictly following NEW JERSEY AND PA framing guidelines and also  with the most creative design as your disposal from buildings to kitchen cabinets we do them all at of course affordable prices as well!<a class='linkertag' href="/services">Learn More</a></p>
              </div>
         </div>
    </div>
</div>
               
</section>
<section class="areas">
        <div class=areas-media>
                <h2>Some areas we serve</h2>
                <div class="columns is-mobile">
                                <div class="column"id="columnas">
                                  <ul>
                                  <li>New brunswick-NJ</li>
                                  <li>Hamilton-NJ</li>
                                  <li>Trenton-NJ</li>
                                  <li>Ewing-NJ</li>
                                  </ul>
                                </div>
                                <div class="column"id="columnas">
                                 <ul>
                                         
                                         <li>Bordentown-NJ</li>
                                         <li>Burlington-NJ</li>
                                        <li>Cranbury-NJ</li>
                                        <li>Mercer County-NJ</li>
                                 </ul>
                                </div>
                                <div class="column"id="columnas">
                                 <ul>
                                  <li>Monroe-Township-NJ</li>
                                 <li>Freehold-NJ</li>
                                 <li>Old-Bridge-NJ</li>
                                 <li>Manalapan-NJ</li>
                                 </ul>
                                </div>
                        <div class="column" id="columnas">
                                <ul>
                                  <li>Levittown-PA</li>
                                  <li>Warminster-PA</li>
                                  <li>Philadelphia-PA</li>
                                  <li>Langhorne-PA</li>
                                </ul>
                                </div>
                              </div>
        </div>
</section>
<script>
    $("#slideshow > div:gt(0)").hide();

setInterval(function() { 
  $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
},  3500);
</script>
      



<% include partials/footer %>