<%include partials/header %>
<h1 class="project-title">Some of our most recents projects</h1>
<div class="container"id="container-services">
    <div class="columns">
        <div class="column">
         <div class="image-project">
             <a href="#"><img src="/images/before-first-project.jpg" alt="cedar house"></a>
         </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/before-first-project-2.jpg" alt="cedar house demolition">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/before-first-project3.jpg" alt="cedar house demolition">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/first-project-complete.jpg" alt="vinyl siding replace">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/images/first-project-complete-2.jpg" alt="cedar replace for siding vinyl">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/first-project-complete-3.jpg" alt="cedar changed for vinyl siding">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/first-project-complete-4.jpg" alt=" new vinyl siding replaced">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/second-project-complete.jpg" alt="gray vinyl siding installation">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/images/second-project-complete-2.jpg" alt="vinyl siding photo">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/second-project-complete-3.jpg" alt="vinyl siding in winter time">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/second-project-complete-4.jpg" alt="vinyl siding dutch slap">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/second-project-complete-5.jpg" alt="construction house">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/images/third-project.jpg"alt="paper tyvek wall">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/third-project-2.jpg" alt="tyvek and cappping windows">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/third-project-3.jpg" alt="plywood wall with tyvek">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/third-project-complete.jpg"alt="vinyl gray siding with soffit and fascia">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/images/third-project-complete-2.jpg"alt="vinyl gray siding ">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/third-project-complete-4.jpg"alt="vinyl siding">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/third-project-complete-5.jpg"alt="vinyl siding construction">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/four-project.jpg"alt="plywood demolition wall">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/images/four-project-complete.jpg" alt="vinyl yellow siding">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/four-project-complete-2.jpg"alt="vinyl yellow soffit and fascia">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/four-project-complete-3.jpg"alt="vinyl yellow cedar impression">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/fith-project.jpg"alt="white siding">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/images/5-project-1.jpg"alt="white-vinyl-siding">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/5-project-2.jpg"alt="white vinyl">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/5-project-3.jpg"alt="white vinyl sheets">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/5-project-complete.jpg"alt="red capped window">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/images/5-project-complete-1.jpg"alt="white siding corners">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/5-project-complete-2.jpg"alt="white soffit and fascia">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/5-project-complete-3.jpg"alt="white fascia & soffit">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/6-project-4.jpg"alt="white construction in vinyl siding">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/images/6-project-2.jpg"alt="white siding dutch lap">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/6-project-3.jpg"alt="white siding 4' by 4'">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/6-project-7.jpg"alt="siding vinyl installation">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/6-project-5.jpg"alt="siding with azek">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/images/6-project-8.jpg"alt="azek finish">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/6-project-6.jpg"alt="cedar wood siding">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/6-project-10.jpg"alt="azek and cedar impression">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/6-project-9.jpg"alt="roofing">
            </div>
        </div>
      </div>
</div>
<section class="second-bunch">
    <div class="columns is-gapless">
        <div class="column">
         <figure>
            <img src="/images/1.jpg"alt="hardie-plank-beige">
         </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/2.jpg"alt="hardie-plank-beige2">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/21.jpg" alt="hardie plank siding replacement">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/22.jpg" alt="stone with hardie plank and doormen">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/5.jpg" alt="hardie-plank with stone">
            </figure>
        </div>
      </div>
      <div class="columns is-gapless">
        <div class="column">
         <figure>
            <img src="/images/6.jpg" alt="big window">
         </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/7.jpg" alt="complex siding building">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/8.jpg" alt="green vinyl siding">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/9.jpg"alt="garage hardie-plank siding">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/10.jpg" alt="nice wood deck">
            </figure>
        </div>
      </div>
      <div class="columns is-gapless">
        <div class="column">
         <figure>
            <img src="/images/11.jpg" alt="white siding">
         </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/12.jpg"alt="white vinyl siding">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/13.jpg" alt="white siding">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/14.jpg" alt="vinyl siding white big wall">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/15.jpg" alt="vinyl white siding">
            </figure>
        </div>
      </div>
      <div class="columns is-gapless">
        <div class="column">
         <figure>
            <img src="/images/16.jpg"alt="vinyl siding big wall">
         </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/23.jpg" alt="hardie-plank with stone"
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/18.jpg" alt="wood deck">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/19.jpg" alt="vinyl siding high">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/20.jpg" alt="hardie plank siding">
            </figure>
        </div>
      </div>
</section>
<%include partials/footer %>