<%include partials/header %>
<h1 class="project-title">Some of our most recents projects</h1>
<div class="container"id="container-services">
    <div class="columns">
        <div class="column">
         <div class="image-project">
             <a href="#"><img src="/images/19.jpg" alt="cedar house"></a>
         </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/1-2.jpg" alt="cedar house demolition yellow old siding">
               
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/1-1.jpg" alt="cedar house demolition">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/1-2-1.jpg" alt="vinyl siding replace">
                
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img srcset="/blue.jpg , /images/1-2-2.jpg" alt="house cedar replaced for siding vinyl">
                
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img srcset="/here.jpg , /images/1-2-3.jpg  " alt="cedar changed for vinyl siding">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img srcset="/first.jpg , /images/first-project-complete-4.jpg" alt=" new vinyl siding replaced">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img srcset="/second.jpg , /images/second-project-complete.jpg" alt="gray vinyl siding installation">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/third.jpg" alt="vinyl siding photo">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/fourth.jpg" alt="vinyl siding in winter time">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/fifth.jpg" alt="vinyl siding dutch slap">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/sixth.jpg" alt="construction house">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/seven.jpg"alt="paper tyvek wall">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/eight.jpg" alt="tyvek and cappping windows">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/nine.jpg" alt="plywood wall with tyvek">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/nuevenueve.jpg"alt="vinyl gray siding with soffit and fascia">
                
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/eleven.jpg"alt="vinyl gray siding ">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/twelve.jpg"alt="vinyl siding">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/thirdteen.jpg"alt="vinyl siding construction">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/seventeen.jpg"alt="plywood demolition wall">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/fourteen.jpg" alt="vinyl yellow siding">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/fifteen.jpg"alt="vinyl yellow soffit and fascia">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/sixteen.jpg"alt="vinyl yellow cedar impression">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/thirty.jpg"alt="white siding">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/twenty.jpg"alt="white-vinyl-siding">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/twentyone.jpg"alt="white vinyl">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/twentytwo.jpg"alt="white vinyl sheets">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/twentythree.jpg"alt="red capped window">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/twentyfour.jpg"alt="white siding corners">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/twentyfive.jpg"alt="white soffit and fascia">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/twentysix.jpg"alt="white fascia & soffit">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/twentyseven.jpg"alt="white construction in vinyl siding">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/forty.jpg"alt="white siding dutch lap">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
               
                <img src="/fortyone.jpg"alt="white siding 4' by 4'">
            
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/fortynine.jpg"alt="siding vinyl installation">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/fortythree.jpg"alt="siding with azek">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/fortyseven.jpg"alt="azek finish">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/fortyfive.jpg"alt="cedar wood siding">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/fortysix.jpg"alt="azek and cedar impression">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/fortyeight.jpg"alt="roofing">
            </div>
        </div>
      </div>
</div>
<section class="second-bunch">
    <div class="columns is-gapless">
        <div class="column">
         <figure>
            <img src="/images/1.jpg"alt="hardie-plank-beige">
         </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/2.jpg"alt="hardie-plank-beige2">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/fifty.jpg" alt="hardie plank siding replacement">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/fiftyone.jpg" alt="stone with hardie plank and doormen">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/5.jpg" alt="hardie-plank with stone">
            </figure>
        </div>
      </div>
      <div class="columns is-gapless">
        <div class="column">
         <figure>
            <img src="/images/6.jpg" alt="big window">
         </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/fiftytwo.jpg" alt="complex siding building">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/8.jpg" alt="green vinyl siding">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/9.jpg"alt="garage hardie-plank siding">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/10.jpg" alt="nice wood deck">
            </figure>
        </div>
      </div>
      <div class="columns is-gapless">
        <div class="column">
         <figure>
            <img src="/fiftythree.jpg" alt="white siding">
         </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/fiftyfour.jpg"alt="white vinyl siding">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/fiftyfive.jpg" alt="white siding">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/fiftysix.jpg" alt="vinyl siding white big wall">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/fiftyseven.jpg" alt="vinyl white siding">
            </figure>
        </div>
      </div>
      <div class="columns is-gapless">
        <div class="column">
         <figure>
            <img src="/fiftyeight.jpg"alt="vinyl siding big wall">
         </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/23.jpg" alt="hardie-plank with stone">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/18.jpg" alt="wood deck">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/19.jpg" alt="vinyl siding high">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/20.jpg" alt="hardie plank siding">
            </figure>
        </div>
      </div>
</section>
<% include partials/footer %>