<%include partials/header %>
<h1 class="project-title">Some of our Most Recents Projects</h1>
<div class="container"id="container-services">
    <div class="columns">
        <div class="column">
         <div class="image-project">
             <a href="#"><img src="/one.jpg" alt="cedar house"></a>
         </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/1-2.jpg" alt="cedar house demolition yellow old siding">
               
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/images/1-1.jpg" alt="cedar house demolition">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img srcset="/1-2-1.webp ,/1-2-1.jpg" alt="vinyl siding replaces">
                
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img srcset="/blue.webp ,/blue.jpg" alt="house cedar replaced for siding vinyl">
                
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img srcset="/here.webp , /here.jpg  " alt="cedar changed for vinyl siding">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img srcset="/first.webp , /first.jpg" alt=" new vinyl siding replaced">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img srcset="/second.webp , /second.jpg" alt="gray vinyl siding installation">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img srcset="/third.webp,/third.jpg" alt="vinyl siding photo">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img srcset="/fourth.webp,/fourth.jpg" alt="vinyl siding in winter time">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img srcset="/fifth.webp,/fifth.jpg" alt="vinyl siding dutch slap">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img srcset="/sixth.webp,/sixth.jpg" alt="construction house">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/seven.jpg"alt="paper tyvek wall">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img srcset="/eight.webp,/eight.jpg" alt="tyvek and cappping windows">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/nine.jpg" alt="plywood wall with tyvek">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/nuevenueve.jpg"alt="vinyl gray siding with soffit and fascia">
                
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img srcset="/eleven.webp,/eleven.jpg"alt="vinyl gray siding ">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/twelve.jpg"alt="vinyl siding">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/thirdteen.jpg"alt="vinyl siding construction">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img srcset="/seventeen.webp,/seventeen.jpg"alt="plywood demolition wall">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/fourteen.jpg" alt="vinyl yellow siding">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img srcset="/fifteen.webp,/fifteen.jpg"alt="vinyl yellow soffit and fascia">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img srcset="/sixteen.webp,/sixteen.jpg"alt="vinyl yellow cedar impression">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/thirty.jpg"alt="white siding">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/twenty.jpg"alt="white-vinyl-siding">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/twentyone.jpg"alt="white vinyl">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/twentytwo.jpg"alt="white vinyl sheets">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/twentythree.jpg"alt="red capped window">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/twentyfour.jpg"alt="white siding corners">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/twentyfive.jpg"alt="white soffit and fascia">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/twentysix.jpg"alt="white fascia & soffit">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/twentyseven.jpg"alt="white construction in vinyl siding">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/forty.jpg"alt="white siding dutch lap">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
               
                <img src="/fortyone.jpg"alt="white siding 4' by 4'">
            
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/fortynine.jpg"alt="siding vinyl installation">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/fortythree.jpg"alt="siding with azek">
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="image-project">
                <img src="/fortyseven.jpg"alt="azek finish">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/fortyfive.jpg"alt="cedar wood siding">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/fortysix.jpg"alt="azek and cedar impression">
            </div>
        </div>
        <div class="column">
            <div class="image-project">
                <img src="/fortyeight.jpg"alt="roofing">
            </div>
        </div>
      </div>
</div>
<section class="second-bunch" id="second-bunch">
    <div class="columns is-gapless">
        <div class="column">
         <figure>
            <img src="/images/1.jpg"alt="hardie-plank-beige">
         </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/2.jpg"alt="hardie-plank-beige2">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img srcset="/fifty.webp,/fifty.jpg" alt="hardie plank siding replacement">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img srcset="/fiftyone.webp,/fiftyone.jpg" alt="stone with hardie plank and doormen">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/5.jpg" alt="hardie-plank with stone">
            </figure>
        </div>
      </div>
      <div class="columns is-gapless">
        <div class="column">
         <figure>
            <img src="/images/6.jpg" alt="big window">
         </figure>
        </div>
        <div class="column">
            <figure>
                <img srcset="/fiftytwo.webp,/fiftytwo.jpg" alt="complex siding building">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/8.jpg" alt="green vinyl siding">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/9.jpg"alt="garage hardie-plank siding">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/10.jpg" alt="nice wood deck">
            </figure>
        </div>
      </div>
      <div class="columns is-gapless">
        <div class="column">
         <figure>
            <img srcset="/fiftythree.webp,/fiftythree.jpg" alt="white siding">
         </figure>
        </div>
        <div class="column">
            <figure>
                <img srcset="/fiftyfour.webp,/fiftyfour.jpg"alt="white vinyl siding">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img srcset="/fiftyfive.webp,/fiftyfive.jpg" alt="white siding">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img srcset="/fiftysix.webp,/fiftysix.jpg" alt="vinyl siding white big wall">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img srcset="/fiftyseven.webp,/fiftyseven.jpg" alt="vinyl white siding">
            </figure>
        </div>
      </div>
      <div class="columns is-gapless">
        <div class="column">
         <figure>
            <img srcset="/fiftyeight.webp,/fiftyeight.jpg"alt="vinyl siding big wall">
         </figure>
        </div>
        <div class="column">
            <figure>
                <img srcset="/fiftynine.webp,/fiftynine.jpg" alt="hardie-plank with stone">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/18.jpg" alt="wood deck">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="/images/19.jpg" alt="vinyl siding high">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img srcset="/sixty.webp,/sixty.jpg" alt="hardie plank siding">
            </figure>
        </div>
      </div>
</section>
<% include partials/footer %>