<% include partials/header %>

        <body>

<body>
<div class="container">
    <section class="services-1">
        
            <h1 class="services-title">Services</h1>
            <div id="buttons">
                <div class="columns is-mobile">
                    <div class="column">
                      <p class="buttons-p"><a class="buttons" href="#roofing">Roofing</a></p>
                    </div>
                    <div class="column">
                        <p class="buttons-p"><a class="buttons" href="#siding">Siding</a></p>
                    </div>
                    <div class="column">
                        <p class="buttons-p"><a class="buttons" href="#gutters">Gutters</a></p>
                    </div>
                    <div class="column">
                        <p class="buttons-p"><a class="buttons" href="#carpentry">Carpentry</a></p>
                    </div>
                    <div class="column">
                        <p class="buttons-p"><a class="buttons" href="#windows">Windows & Doors</a></p>
                      </div>
                      <div class="column">
                          <p class="buttons-p"><a class="buttons"href="#soffit">Soffit & Fascia</a></p>
                        </div>
                        <div class="column">
                            <p class="buttons-p"><a class="buttons" href="#flooring">Flooring</a></p>
                    </div>
                  </div>
            </div>
            
            <div class="columns"id="roofing-column">
                    <div class="column">
                     
<div class="w3-content w3-display-container">
   
    <img class="mySlides" src="/images/roofing-first-floor.jpg" style="width:100%">
    <img class="mySlides" src="/images/roofing-finish.jpg" style="width:100%">
    <img class="mySlides" src="/images/roofing.jpg" style="width:100%">
    <img class="mySlides" src="/images/roofing2.jpg" style="width:100%">
    <img class="mySlides" src="/images/roofing3.jpg" style="width:100%">
       
      
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
      </div>
                    </div>
                    <div class="column">
                      <div class="roofing-media">
                          <h2 class="roofing-title" id="roofing">Roofing</h2>
                          <div class="span-icon"><i class="fas fa-home fa-3x" style="color:#Fff;" id="grandes"></i></div>
                          <p class="roofing-p space">When it comes too roofing there is no cutting corners, we do it the right and most secured way approved by GAF and all the manucfactures guidelines and of course fully licensed and insured!</p>
                          <p class="roofing-p2 space">Domestic housing construction is the roof and framing covering the the framing of the house and comes in diferents shapes and we use diferents materials like weatther resistant paper, galvanized nails and mostly shingles to fully protect you from the elements!</p>
                          <p class="roofing-p3 space"><a href="#">Here</a>You can read more and fully understand what this is all about and also figure out what kind of material you will be requesting!</p>
                          <div class="arrow-roofing">
                                <p><i class="fas fa-arrow-right" style="color:#FF3860"></i><strong class="spacer">Asphalt Shingles:</strong>Strip Shingles - Luxuxy Shingles - Dimensional Shingles.</p>
                                <p><i class="fas fa-arrow-right"style="color:#FF3860"></i><strong class="spacer">Specialty Roofing:</strong>Solar tiles - Metal Roofing - Rubber Slate - Stone-Coated-Steel.</p>
                                <p><i class="fas fa-arrow-right"style="color:#FF3860"></i><strong class="spacer">Commercial:</strong>Thermoset (EPDM) Roof Membrane - Thermoplastic (PVC & TPO) roof membrane - Garden Green Roofing System.</p>
                          </div>
                      </div>
                    </div>
             </div>
             <div class="columns" id="siding">
                    <div class="column">
                            <div class="siding-media">
                                    <h2 class="roofing-title"id="siding">Siding</h2>
                                    <div class="span-icon"><i class="fas fa-home fa-3x "style="color:#Fff;" id="grandes"></i></div>
                                    <p class="siding-p space">The most beautiful projects we work , we really love building awesome quaility and beautiful house covers with the best material available in the markets and also the best competitive prices that will make you love it even more! </p>
                                    <p class="siding-p2 space">Our siding Team have more than 25 years in the field!</p>
                                    <p class="siding-p3 space">We do provide a lot's of options to our clients likes and the most popular one being the dutch lap 4' by 4' Vinyl siding</p>
                                    <div class="arrow-roofing">
                                          <p><i class="fas fa-arrow-right" style="color:#FFDD57"></i><strong class="spacer">Vinyl Siding:</strong>Horizontal Panels - Vertical Panels - Dutch Lap  - Shakes - board & batten </p>
                                          <p><i class="fas fa-arrow-right"style="color:#FFDD57"></i><strong class="spacer">Fiber Cement Siding:</strong>Lap Siding - Vertical Siding - boards - Artisan Collection - Cement Board</p>
                                          <p><i class="fas fa-arrow-right"style="color:#FFDD57"></i><strong class="spacer">Wood:</strong>Cypress - Redwood - Split Logs - Shingle Siding - Drop Channel Siding - Lap Siding</p>
                                    </div>
                                </div>

                    </div>
                    <div class="column">
                            <div class="w3-content w3-display-container">
                                       <img class="mySlides2" src="/images/siding-cedar.jpg" style="width:100%">
                                       <img class="mySlides2" src="/images/siding-vinyl.jpg" style="width:100%">
                                       <img class="mySlides2" src="/images/siding-project.jpg" style="width:100%">
                                       <img class="mySlides2" src="/images/siding-blue-vinyl.jpg" style="width:100%">
                                       <img class="mySlides2" src="/images/siding-carolina-vinyl.jpg" style="width:100%">
                                    
                                    

                                    <button class="w3-button w3-black w3-display-left" onclick="plusDivs2(-1)">&#10094;</button>
                                    <button class="w3-button w3-black w3-display-right" onclick="plusDivs2(1)">&#10095;</button>
                                  </div>
                    </div>
             </div>
             <div class="columns" id="Gutters">
                    <div class="column">

                            <div class="w3-content w3-display-container">
                                    <img class="mySlides3" src="/images/gutters.jpg" style="width:100%">
                                    <img class="mySlides3" src="/images/gutter-system-3.jpg" style="width:100%">
                                    <img class="mySlides3" src="/images/gutter-system.jpg" style="width:100%">
                                    <img class="mySlides3" src="/images/gutter-system-2.jpg" style="width:100%">
                                   
                                    
                                
                                

                                <button class="w3-button w3-black w3-display-left" onclick="plusDivs3(-1)">&#10094;</button>
                                <button class="w3-button w3-black w3-display-right" onclick="plusDivs3(1)">&#10095;</button>
                              </div>
                            

                    </div>
                    <div class="column">
                            
                                  <div class="siding-media">
                                        <h2 class="roofing-title"id="gutters">Gutters</h2>
                                        <div class="span-icon"><i class="fas fa-tint fa-3x "style="color:#Fff;" id="grande"></i></div>
                                        <p class="siding-p space">The gutters! the water discharge system of your house , it is necessary to prevent the water flowing or dripping in an uncontroller manner so it does not damage the walls or the foundations of the building ; in cases with flat roof , removal of water is clearly essential to prevent water ingress</p>
                                        <p class="siding-p2 space">We have the absolute best prices in gutter for commercial or residential buildings</p>
                                        <p class="siding-p3 space">there is few diferent kind of water discharge system to fit every possible escenario</p>
                                        <div class="arrow-roofing">
                                            <p><i class="fas fa-arrow-right" style="color:#FF3860"></i><strong class="spacer">Aluminum Gutters:</strong>k Style Gutters - Fascia Gutters - European Gutter</p>
                                            <p><i class="fas fa-arrow-right"style="color:#FF3860"></i><strong class="spacer">Copper Gutters:</strong>Half Round Gutters - Galvalume Gutters - Vinyl Gutters</p>
                                            <p><i class="fas fa-arrow-right"style="color:#FF3860"></i><strong class="spacer">Galvanized Steel Gutters:</strong>Galvalume Gutters - Zinc Gutters</p>
                                        </div>
                                    </div>
             </div>
        </div>
        <div class="columns" id="siding">
                <div class="column">
                        <div class="siding-media">
                                <h2 class="roofing-title"id="carpentry">Carpentry</h2>
                                <div class="span-icon"><i class="fas fa-gavel fa-3x "style="color:#Fff;" id="grandi"></i></div>
                                <p class="siding-p space">the start of every project comes with a little of carpentry or it could be all of it , carpentry es the essential craft in most of construction related projects</p>
                                <p class="siding-p2 space">We are fully insured and licensed to build a create whole new structures but we also take additions and renovations works </p>
                                <p class="siding-p3 space">Again on this one the best estimates out there are by our side!</p>
                                <div class="arrow-roofing">
                                      <p><i class="fas fa-arrow-right" style="color:#FFDD57"></i><strong class="spacer">Additions</strong>
                                      <p><i class="fas fa-arrow-right"style="color:#FFDD57"></i><strong class="spacer">House renovation</strong></p>
                                      <p><i class="fas fa-arrow-right"style="color:#FFDD57"></i><strong class="spacer">Second floor</strong></p>
                                      <p><i class="fas fa-arrow-right"style="color:#FFDD57"></i><strong class="spacer">Decks</strong></p>
                                </div>
                            </div>

                </div>
                <div class="column">
                        <div class="w3-content w3-display-container">
                                    <img class="mySlides4" src="/images/deck.jpg" style="width:100%">
                                    <img class="mySlides4" src="/images/new-house.jpg" style="width:100%">
                                    <img class="mySlides4" src="/images/Addition.jpg" style="width:100%">
                                    <img class="mySlides4" src="/images/framing-soffit.jpg" style="width:100%">
                                
                                

                                <button class="w3-button w3-black w3-display-left" onclick="plusDivs4(-1)">&#10094;</button>
                                <button class="w3-button w3-black w3-display-right" onclick="plusDivs4(1)">&#10095;</button>
                              </div>
                </div>
         </div>

         <div class="columns" id="Gutters">
                <div class="column">

                        <div class="w3-content w3-display-container">
                               
                                <img class="mySlides5" src="/images/french-door.jpg" style="width:100%">
                                <img class="mySlides5" src="/images/bow-window.jpg" style="width:100%">
                                <img class="mySlides5" src="/images/casement-window.jpg" style="width:100%">
                                <img class="mySlides5" src="/images/capping-window.jpg" style="width:100%">
                            
                            

                            <button class="w3-button w3-black w3-display-left" onclick="plusDivs5(-1)">&#10094;</button>
                            <button class="w3-button w3-black w3-display-right" onclick="plusDivs5(1)">&#10095;</button>
                          </div>
                        

                </div>
                <div class="column">
                        
                              <div class="siding-media">
                                    <h2 class="roofing-title" id="windows">Window  & Doors</h2>
                                    <div class="span-icon"><i class="fab fa-windows fa-3x "style="color:#Fff;" id="grandi"></i></div>
                                    <p class="siding-p space">We do offer a lot of diferent windows and door for your projects and in all of them you can have peace of mind knowing the installation was done right by us!</p>
                                    <p class="siding-p2 space">Check it out our prices! door installations from 150$!, below you have some of our most requested door and windows service</p>
                                    
                                    <div class="arrow-roofing">
                                          <p><i class="fas fa-arrow-right" style="color:#FF3860"></i><strong class="spacer">Sliding doors</strong></p>
                                          <p><i class="fas fa-arrow-right"style="color:#FF3860"></i><strong class="spacer">Bypass Doors</strong></p>
                                          <p><i class="fas fa-arrow-right"style="color:#FF3860"></i><strong class="spacer">French Doors</strong></p>
                                          <p><i class="fas fa-arrow-right"style="color:#FF3860"></i><strong class="spacer">Casement windows</strong></p>
                                          <p><i class="fas fa-arrow-right"style="color:#FF3860"></i><strong class="spacer">Bay or Bow windows</strong></p>
                                          <p><i class="fas fa-arrow-right"style="color:#FF3860"></i><strong class="spacer">Awning windows</strong></p>
                                    </div>
                                </div>
         </div>
    </div>
    <div class="columns" id="siding">
        <div class="column">
                <div class="siding-media">
                        <h2 class="roofing-title"id="flooring">Flooring</h2>
                        <div class="span-icon"><i class="fas fa-stop fa-3x "style="color:#Fff;" id="grandi"></i></div>
                        <p class="siding-p space">Hardwood solid wood has been of the most popular type of floofing in the us for decades as the engineered wood that just looks like solid wood but its made in a different way</p>
                        <p class="siding-p2 space">Offering from bambo to ceramic tile we do offer a wide range of flooring design and installations</p>
                        
                        <div class="arrow-roofing">
                              <p><i class="fas fa-arrow-right" style="color:#FFDD57"></i><strong class="spacer">Ceramic Tile</strong>
                              <p><i class="fas fa-arrow-right"style="color:#FFDD57"></i><strong class="spacer">Laminate</strong></p>
                              <p><i class="fas fa-arrow-right"style="color:#FFDD57"></i><strong class="spacer">Vinyl</strong></p>
                              <p><i class="fas fa-arrow-right"style="color:#FFDD57"></i><strong class="spacer">Hardwood</strong></p>
                        </div>
                    </div>

        </div>
        <div class="column">
                <div class="w3-content w3-display-container">
                            <img class="mySlides6" src="/images/wood-flooring.jpg" style="width:100%">
                            <img class="mySlides6" src="/images/ceramic-tile2.jpg" style="width:100%">
                            <img class="mySlides6" src="/images/ceramic-tile.jpg" style="width:100%">
                           
                        
                        

                        <button class="w3-button w3-black w3-display-left" onclick="plusDivs6(-1)">&#10094;</button>
                        <button class="w3-button w3-black w3-display-right" onclick="plusDivs6(1)">&#10095;</button>
                      </div>
        </div>
 </div>
 <div class="columns" id="Gutters">
    <div class="column">

            <div class="w3-content w3-display-container">
                   
                    <img class="mySlides7" src="/images/soffit-fascia.jpg" style="width:100%">
                    <img class="mySlides7" src="/images/soffit.jpg" style="width:100%">
                    <img class="mySlides7" src="/images/fascia.jpg" style="width:100%">
                    
                
                

                <button class="w3-button w3-black w3-display-left" onclick="plusDivs7(-1)">&#10094;</button>
                <button class="w3-button w3-black w3-display-right" onclick="plusDivs7(1)">&#10095;</button>
              </div>
            

    </div>
    <div class="column">
            
                  <div class="siding-media" id="soffit">
                        <h2 class="roofing-title">Soffit & Fascia</h2>
                        <div class="span-icon"><i class="fab fa-windows fa-3x "style="color:#Fff;" id="grandi"></i></div>
                        <p class="siding-p space">soffit & fascia are an exterior architectural feature , generally the horizontal underside of a construction element. is the one mounted at the point where the roof meets the outer walls of the house! and is often called ROOFLINE!</p>
                      
                        <div class="arrow-roofing">
                              <p><i class="fas fa-arrow-right" style="color:#FF3860"></i><strong class="spacer">Wood Fascia Boards:</strong>Very multifaceted - very affordable - Cedar maintains a rustic exterior</p>
                              <p><i class="fas fa-arrow-right"style="color:#FF3860"></i><strong class="spacer">Composite Fascia Boards:</strong>Its rot-resistant - its colourfast and doesn't decay easily </p>
                              <p><i class="fas fa-arrow-right"style="color:#FF3860"></i><strong class="spacer">Aluminum Fascia Boards:</strong>very Versatile - they are easy to cut and install - high durability and low cost</p>
                        </div>
                    </div>
</div>
</div>
        
        </section>
        </div>

<script>
        var slideIndex = 1;
        showDivs(slideIndex);
        
        function plusDivs(n) {
          showDivs(slideIndex += n);
        }
        
        function showDivs(n) {
          var i;
          var x = document.getElementsByClassName("mySlides");
          if (n > x.length) {slideIndex = 1}
          if (n < 1) {slideIndex = x.length}
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          x[slideIndex-1].style.display = "block";  
        }

        var slideIndex2 = 1;
                showDivs2(slideIndex2);
                
                function plusDivs2(n) {
                  showDivs2(slideIndex2 += n);
                }
                
                function showDivs2(n) {
                  var i;
                  var x = document.getElementsByClassName("mySlides2");
                  if (n > x.length) {slideIndex2 = 1}
                  if (n < 1) {slideIndex2 = x.length}
                  for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";  
                  }
                  x[slideIndex2-1].style.display = "block";  
                }

                var slideIndex3 = 1;
                        showDivs3(slideIndex3);
                        
                        function plusDivs3(n) {
                          showDivs3(slideIndex3 += n);
                        }
                        
                        function showDivs3(n) {
                          var i;
                          var x = document.getElementsByClassName("mySlides3");
                          if (n > x.length) {slideIndex3 = 1}
                          if (n < 1) {slideIndex3 = x.length}
                          for (i = 0; i < x.length; i++) {
                            x[i].style.display = "none";  
                          }
                          x[slideIndex3-1].style.display = "block";  
                        }

            
            var slideIndex4 = 1;
        showDivs4(slideIndex4);
        
        function plusDivs4(n) {
          showDivs4(slideIndex4 += n);
        }
        
        function showDivs4(n) {
          var i;
          var x = document.getElementsByClassName("mySlides4");
          if (n > x.length) {slideIndex4 = 1}
          if (n < 1) {slideIndex4 = x.length}
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          x[slideIndex4-1].style.display = "block";  
        }

        var slideIndex5 = 1;
        showDivs5(slideIndex5);
        
        function plusDivs5(n) {
          showDivs5(slideIndex5 += n);
        }
        
        function showDivs5(n) {
          var i;
          var x = document.getElementsByClassName("mySlides5");
          if (n > x.length) {slideIndex5 = 1}
          if (n < 1) {slideIndex5 = x.length}
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          x[slideIndex5-1].style.display = "block";  
        }

        var slideIndex6 = 1;
        showDivs6(slideIndex6);
        
        function plusDivs6(n) {
          showDivs6(slideIndex6 += n);
        }
        
        function showDivs6(n) {
          var i;
          var x = document.getElementsByClassName("mySlides6");
          if (n > x.length) {slideIndex6 = 1}
          if (n < 1) {slideIndex6 = x.length}
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          x[slideIndex5-1].style.display = "block";  
        }
        var slideIndex6 = 1;
        showDivs(slideIndex6);
        
        function plusDivs6(n) {
          showDivs6(slideIndex6 += n);
        }
        
        function showDivs6(n) {
          var i;
          var x = document.getElementsByClassName("mySlides6");
          if (n > x.length) {slideIndex6 = 1}
          if (n < 1) {slideIndex6 = x.length}
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          x[slideIndex6-1].style.display = "block";  
        }
        var slideIndex7 = 1;
        showDivs7(slideIndex7);
        
        function plusDivs7(n) {
          showDivs7(slideIndex7 += n);
        }
        
        function showDivs7(n) {
          var i;
          var x = document.getElementsByClassName("mySlides7");
          if (n > x.length) {slideIndex7 = 1}
          if (n < 1) {slideIndex7 = x.length}
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          x[slideIndex7-1].style.display = "block";  
        }
        </script>
        

<%include partials/footer  %>