<% include partials/header %>

<h1 class="contact-heading">Thanks you! We'll be right at you as soon as possible!! <span class="contact-heading-2"> you have a great day!</span></h1>
<p class="thanks-heading">Please allow our team up to 2-4 hours to be back at you! or kindly call us now (609)-349-4596!</p>

<% include partials/footer %>