:root {
    box-sizing: border-box;
    font-size:calc(0.5em + 1vw);
  }
body {
    font-family: 'Open Sans Condensed', sans-serif;
}
  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }

.is-active{
    display:inline-block;
}

.call-us {
   
    position: fixed;
    top: 0;
    width: 100%;
    
}

.call-us-text {
    width:100%;
    line-height: 2em;
    background-color:#FFDD57;

}



.navbar-start a:hover {
   color:#FF3860;
}



.color{
    color:#FFDD57 ;
}

.color1{
    color:#FF3860;
}

.titulo {
    text-align:center;
    color:#FFDD57;
    widows: 100%;
    height:100%;
    font-size:2.5em;
    padding:1em 0 0 1.5em;
    margin-left:-2em;
}

.titulo-p{
    width:50%;
    text-align:center;
    margin: 0 auto;
}  

.titulo-info{
    text-align:center;
}
#button {
   margin-top:1em;
}

.column1 {
    background:#FFDD57;
    color:#fff;
}

.column2{
    background:#FF3860;
    color:#fff;
}

.diferencias {
    margin-top:3em;
}

#slideshow { 
  
    position:relative;
    width: 100%; 
    height: 100%; 
    padding: 10px; 
    margin: -1em auto 3em auto;
  
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

.slideshow {
    width:100%;
}


#welcome-section {
    margin-top:15em;
}

@media (min-width:896px){
    #welcome-section {
        margin-top:28em;
    }
}
.image-p {
    font-size:3.5em;
    color:#FFDD57;
    position:absolute;
    left:1.5em;
    top:1.5em;
    text-decoration:underline;
    animation-name: moveInLeft;
    animation-duration: 3.5s;
    
}

.image-p2{
    font-size:2.5em;
    color:#FF3860;
    position:absolute;
    left:2.5em;
    top:4em;
    text-decoration:underline;
    animation-name:moveInRight; 
    animation-duration:3.5s;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-17%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(17%);

    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.container-info{
    margin: 0 auto;
}

.about-heading{
    text-align:center;
    font-size:2.5em;
}

.about-heading-h3{
    text-align:center;
    font-size:2em;
    padding-top:1em;
}



.about-ul {
    text-align:center;
    font-size:1.6em;
}

.main-services{
    text-align:center;
    margin: 2em auto;
}
.service-heading{
    text-align:center;
    color:#FFDD57;
    font-size:2.5em;
}

.column > h3 {
    font-size:2em;
    color:#FF3860;
    letter-spacing: .3em;
}

.areas-media{
    text-align:center;
    color:#fff;
    font-size: 2.5em;
}

#columnas{
    font-size:.5em;
    
}

.services-p{
    margin-top:1.5em;
}

.areas{
    background-color:#FF3860;
}

.linkertag {
    color:gray;
    font-weight:bold;
    border: black solid 1px;
    margin-left:1em;
    padding: 0 .5em;
}


.footer{
    background-color:gray;
    color:white;
    font-size:1em;
    text-align:center;
    letter-spacing:.2em;
  margin-top:-.5em;
}


.footer-p{
    margin-bottom:1em;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #FF3860;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }

  .contact-title{
      text-align:center;
      color:#FFDD57;
      font-size:3em;
  }

  .contact-p{
      text-align:center;
      color:#FF3860;
      font-size:1.5em;
      letter-spacing:.1em;
      margin-bottom:1em;
  }
  .contact-heading {
      text-align:center;
      color:#FFDD57;
      font-size:3em;
  }

  .thanks-heading{
      text-align:center;
      color:gray;
  }

  .services-title{
      text-align:center;
      color:#FF3860;
      font-size:3em;
      margin-bottom:1.6em;
  }


  .span-icon{
      background-color: rgb(61, 60, 60);
      width:15%;
     border-radius:50%;
     float:left;
     margin-right:1em;
     
    
  }

  #grandes {
      margin: 0 auto;
      padding-left:.17em;
      
  }

  .roofing-title{
   color: rgb(61, 60, 60);
   font-size: 2em;
   margin-bottom:.75em;
  }

  .space {
      margin-bottom:1em;
      font-size:.9em;

  }


.spacer{
    
    margin-left:.5em;
}
  #siding {
      margin-top:2em;
  }

  #grande{
      
    margin-left:.3em;
      
  }

  
  #grandi{
      margin-left:.2em;
  }

  #buttons{
      margin-bottom:3.5em;
      
  }

  .buttons{
    color:#FFDD57;
    font-size:1em;
  }

  .buttons:hover{
      color:#FF3860;
      font-size:1.2em;
  }

  .project-title{
      text-align:center;
      font-size:3em;
      color:#FF3860;
      margin-bottom:1.5em;
  }

  .container-services{
      margin-bottom:2em;
  }
@media (max-width:896px) {
  #container-services {
      margin-left: 7.5em;
  }

  .second-bunch{
      margin-left:7.5em;
  }
}